@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-darker: red;
    --color-dark: red;
    --color-normal: red;
    --color-light: red;
    --color-extralight: red;
    --color-superlight: red;
    --color-almostbright: red;
    --color-softbright: red;
    --color-bright: red;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-darker: #121212;
    --color-dark: #171717;
    --color-normal: #1a1a1a;
    --color-light: #212121;
    --color-extralight: #323232;
    --color-superlight: #424242;
    --color-almostbright: #6b6b6b;
    --color-softbright: #b1b1b1;
    --color-bright: white;
}

.light {
    --background: #ffffff;
    --foreground: #171717;
    --color-darker: #fcfcfc;
    --color-dark: #f9f9f9;
    --color-normal: #f1f1f1;
    --color-light: #dcdcdc;
    --color-extralight: #848484;
    --color-superlight: #525252;
    --color-almostbright: #444444;
    --color-softbright: #303030;
    --color-bright: black;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.animate-cursor {
    animation: blink 1s step-end infinite;
}


@layer base { 
    /* Performance issue phone? */
    @media (min-width: 500px) {
        * {
            @apply transition-all duration-150;
        }
    }
}

body {
    color: var(--foreground);
    background: var(--color-dark);
}

@keyframes jump {
    40% {
        transform: translateY(-.3rem);
    }
}