@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-darker: red;
    --color-dark: red;
    --color-normal: red;
    --color-light: red;
    --color-extralight: red;
    --color-superlight: red;
    --color-almostbright: red;
    --color-softbright: red;
    --color-bright: red;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-darker: #121212;
    --color-dark: #171717;
    --color-normal: #1a1a1a;
    --color-light: #212121;
    --color-extralight: #323232;
    --color-superlight: #424242;
    --color-almostbright: #6b6b6b;
    --color-softbright: #b1b1b1;
    --color-bright: white;
}

.light {
    --background: #ffffff;
    --foreground: #171717;
    --color-darker: #fcfcfc;
    --color-dark: #f9f9f9;
    --color-normal: #f1f1f1;
    --color-light: #dcdcdc;
    --color-extralight: #848484;
    --color-superlight: #525252;
    --color-almostbright: #444444;
    --color-softbright: #303030;
    --color-bright: black;
}

* {
    transition: background 0.4s, color 0.4s, fill 0.4s, stroke 0.4s, box-shadow 0.4s;
}

body {
    color: var(--foreground);
    background: var(--color-dark);
    transition: background 0.4s, color 0.4s;
}

@keyframes jump {
    40% {
        transform: translateY(-.3rem);
    }
}